body {
    background-color: rgb(107, 203, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #393939;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 0.9rem;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-left: 15px;
}
.btn:hover {
    background-color: rgb(75, 75, 75);
}
.btn:active {
    transform: scale(0.9);
}


#canvas {
    display: grid;
    background-color: #fff;
    width:  500px;
    height: 500px;
    margin-bottom: 50px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
}

#errorMsg, #message {
    color: #393939;
    font-family: sans-serif;
    margin: 0;
}
#errorMsg {
    margin-top: 20px;
}
#message {
    margin-top: 15px;
    margin-bottom: 15px;
}